<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Dice Stats</title>
  <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon_io/favicon-16x16.png') }}"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
</head>

<body>

  <header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">An experimental site that was hastily built during Covid-19 quarantine as a learning project.
              Feel free to add issues (or pull requests) in the
              <a target="_" href="https://github.com/drb1001/dice_stats">github repo</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark">
      <div class="container d-flex justify-content-between">
        <a href="/" class="navbar-brand d-flex align-items-center">
          <h4>Dice Stats</h4>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Dice Stats</h1>
      <p class="lead text-muted">Add some dice rolls to compare stats</p>
      <div id="input">
        <form action='/' method="GET" class="form-inline justify-content-center">
          <div class="form-group">
            <input class="form-control" type="text" id="d1Input" name="d1" value="{{d1_value}}" placeholder="eg: 2d10+3">
          </div>
          <div class="form-group">
            <input class="form-control" type="text" id="d2Input" name="d2" value="{{d2_value}}" placeholder="eg: 3d8 kh2">
          </div>
          <div class="form-group">
            <input class="btn btn-default" type="submit" value="Submit">
          </div>
        </form>
      </div>
      <p class="small text-muted">
        Type your dice rolls <a target="_" href="https://wiki.roll20.net/Dice_Reference">as you would in Roll20</a>.
        Most of the same syntax is supported
        <a data-toggle="collapse" href="#collapseInfo" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">(more info)</a>
        <div class="collapse" id="collapseInfo">
          <p class="small text-muted">
              <ul class="small text-muted list-unstyled">
                <li>Standard dice rolls (d2, d3, d4, d6, d8, d10, d12,d 20) upto 10 at a time, eg: <span class="font-weight-bold">10d6</span></li>
                <li>Advantage and disadvantage rolls (rolling 2 dice) - use kh/dh/kl/dl for keep/drop highest/lowest, eg: <span class="font-weight-bold">2d20kh</span></li>
                <li>A special roll used in 5e starting stats rolls - roll 4 d6 and remove the lowest, ie: <span class="font-weight-bold">4d6dl</span></li>
                <li>Modifiers on all of the above between -10 and +10 (written at the end), eg: <span class="font-weight-bold">2d20kh+4</span></li>
                <li class="font-italic">In Progress.. Rerolling specfic numbers (like brutal weapons in D&D 4e), eg: <span class="font-weight-bold">8d6r<1</span></li>
                <li class="font-italic">In Progress.. Rerolling once for specfic numbers (like great weapon fighting in D&D 5e), eg: <span class="font-weight-bold">3d10ro<2</span></li>
              </ul>
          </p>
        </div>
      </p>
    </div>
  </section>

  <div class="container-fluid">
    <div class="row">

      <main role="main" class="col-lg-6 offset-lg-3">

      <div class="table-responsive">
        <table id="stats_table" class="table table-bordered table-hover table-sm">
          <thead class="thead-dark">
            <tr>
              <th><span>Roll</span></th>
              <th><span>Average Result</span></th>
              <th><span data-toggle="tooltip" data-placement="right" title="Approx. 80% of rolls lie in between these values (10% higher, 10% lower)">80% Range</span></th>
              <th><span data-toggle="tooltip" data-placement="right" title="100% of rolls lie inbetween these values">Full Range</span></th>
            </tr>
          </thead>
          <tbody id="stats_table_body">
          </tbody>
        </table>
      </div>

      <div class="chart">
        <svg class="svg-container svg-content-responsive" />
      </div>
      <!-- <canvas class="my-4 chartjs-render-monitor" id="myChart" width="2704" height="1140" style="display: block; height: 570px; width: 1352px;"></canvas> -->

      </main>
    </div>
  </div>

  <script src="../static/chart.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"> </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <!-- enable bootstap tooltips -->
  <script>$(function () {$('[data-toggle="tooltip"]').tooltip()})</script>

</html>
