
.navbar {
  background-color: #8a4148;
}

#stats_table thead tr th {
  background-color: #8a4148;
}

.jumbotron {
    padding-bottom: 2rem;
    padding-top: 2rem;
 }

.error_msg {
  text-align: center
}
